<main class="center">
    <section>
        <div class="recommendation-container">
            <div class="recommendation">
                <span class="double-quotes"></span>
                <div>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Consequatur consequuntur culpa nobis enim quis
                        magni, quam voluptatibus quas sed quasi repudiandae
                        sequi? Neque provident, sequi voluptates omnis amet
                        perferendis veniam.
                    </p>
                </div>
                <div class="person-container">
                    <span class="purple-line"></span>
                    <div><p>Nordmann Johannes - Web Developer</p></div>
                </div>
            </div>
            <div class="picture-container">
                <img src="" alt="" />
                <span class="purple-vector-container">
                    <span class="purple-vector"></span>
                </span>
            </div>
            <span class="green-shade"></span>
        </div>
        <div class="recommendation-selection">
            <img src="../../assets/icons/arrow-green.png" alt="" />
            <img src="../../assets/icons/dot-green.png" alt="" />
            <img src="../../assets/icons/dot-purple.png" alt="" />
            <img src="../../assets/icons/dot-purple.png" alt="" />
            <img src="../../assets/icons/arrow-green.png" alt=""  class="rotate180deg"/>
        </div>
    </section>
</main>
