<div class="language-switcher">
    <button
        [class.active]="currentLanguage === 'en'"
        (click)="switchLanguage('en')"
    >
        EN
    </button>
    <button
        [class.active]="currentLanguage === 'de'"
        (click)="switchLanguage('de')"
    >
        DE
    </button>
</div>
<div class="language-switcher-mobile"> 
    <button
        [class.active]="currentLanguage === 'en'"
        (click)="switchLanguage('en'); closeMenu()"
    >
        EN
    </button>
    <p>/</p>
    <button
        [class.active]="currentLanguage === 'de'"
        (click)="switchLanguage('de'); closeMenu()"
    >
        DE
    </button>
</div>
