<main class="center" id="about-me">
    <section>
        <div class="about-me">
            <span>
                <h2>{{ "about.title" | translate }}</h2>
            </span>
            <span>
                <p>
                    {{ "about.description" | translate }}
                </p>
            </span>
            <div class="info-container">
                <div class="info">
                    <span
                        ><img
                            src="./assets/icons/location.png"
                            alt="Location icon"
                    /></span>
                    <span>{{ "about.location" | translate }}</span>
                </div>
                <div class="info">
                    <span
                        ><img
                            src="./assets/icons/bulb.png"
                            alt="Light bulb icon"
                    /></span>
                    <span>{{ "about.inspiration" | translate }}</span>
                </div>
                <div class="info">
                    <span
                        ><img src="./assets/icons/puzzle.svg" alt="Puzzle icon"
                    /></span>
                    <span>{{ "about.approach" | translate }}</span>
                </div>
                <span class="background-shade-two"></span>
            </div>
        </div>
        <div class="dev-picture">
            <span class="image-span"
                ><img
                    src="./assets/img/foto-frontal-small.png"
                    alt="Johannes Nordmann Portrait"
            /></span>
            <span class="vector-span"><span class="vector"></span></span>
            <span class="background-shade"></span>
        </div>
    </section>
</main>
