@import "../../styles.scss";

main {
    flex-direction: row;
    padding-bottom: 120px;
}

section {
    position: relative;
    width: 90%;
    display: flex;
    right: 0;
    max-width: $content-width;
    z-index: 4;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-right: 2rem;
    gap: 1.5rem;
    z-index: 4;

    p {
        padding-bottom: 25px;
        padding-top: 20px;
    }

    h1 {
        white-space: nowrap;
    }
}

.anchor {
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;

    img {
        padding-right: 20px;
    }
}

.dev-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    padding-left: 30px;
    z-index: 4;

    img {
        height: 400px;
        width: 400px;
        border: 3px solid $green;
        border-radius: 50%;
        object-fit: cover;
    }
}

.image-span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector-span {
    position: relative;
    width: 0px;
    height: 3px;
    display: flex;
}

.vector {
    position: absolute;
    width: 2555px;
    left: 0;
    height: 4px;
    background-color: $green;
}

.background-shade {
    content: url("../../assets/img/about-me-shadow.png");
    position: absolute;
    right: -20%;
    top: -15%;
    width: 30%;
    height: auto;
    z-index: -1;
    overflow-x: hidden;
}

.background-shade-two {
    display: none;
    content: url("../../assets/img/about-me-shadow.png");
    position: absolute;
    right: -34%;
    top: 20%;
    width: 50%;
    height: auto;
    z-index: -1;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .background-shade {
        top: 0%;
    }
}

@media (max-width: 850px) {
    .dev-picture {
        display: none;
    }

    .background-shade-two {
        display: block;
    }

    .about-me {
        width: 100%;
        padding: 0 20px;
        text-align: start;
        align-items: center;
    }

    main {
        padding-top: 0px;
    }
}

@media (max-width: 500px) {
    main {
        padding-bottom: 0px;
    }

    .about-me {
        padding: 0px;
    }

    .info img {
        padding-right: 10px;
    }
}
