<main class="center" id="about-me">
    <section>
        <div class="about-me">
            <span>
                <h1>{{ "about.title" | translate }}</h1>
            </span>
            <span>
                <p>
                    {{ "about.description" | translate }}
                </p>
            </span>
            <div class="info-container">
                <div class="info">
                    <span
                        ><img src="./assets/icons/location.png" alt=""
                    /></span>
                    <span>{{ "about.location" | translate }}</span>
                </div>
                <div class="info">
                    <span
                        ><img src="./assets/icons/bulb.png" alt=""
                    /></span>
                    <span>{{ "about.inspiration" | translate }}</span>
                </div>
                <div class="info">
                    <span
                        ><img src="./assets/icons/puzzle.svg" alt=""
                    /></span>
                    <span>{{ "about.approach" | translate }}</span>
                </div>
                <span class="background-shade-two"></span>
            </div>
        </div>
        <div class="dev-picture">
            <span class="image-span"><img src="" alt="" /></span>
            <span class="vector-span"><span class="vector"></span></span>
            <span class="background-shade"></span>
        </div>
    </section>
</main>
