<span class="background-shade"></span>
<main>
    <div class="hero">
        <section class="introduction">
            <div class="headerbox">
                <div class="rotate-header-item">
                    <h2>I am</h2>
                </div>
                <div class="header-item">
                    <h1>Johannes Nordmann</h1>
                    <h3>FRONTEND DEVELOPER</h3>
                </div>
                <div class="green-button">
                    <a href="">Let's talk!</a>
                </div>
            </div>
        </section>
        <section>
            <div class="social-links">
                <span class="vector"></span>
                <a href=""
                    ><img src="../../assets/icons/github.png" alt=""
                /></a>
                <a href=""><img src="../../assets/icons/email.png" alt="" /></a>
                <a href=""
                    ><img src="../../assets/icons/linkedin.png" alt=""
                /></a>
                <a href="">Johannes-nordmann&#64;live.de</a>
            </div>
        </section>
        <section class="scroll-down">
            <a href="#about-me"
                >Scroll down<img src="../../assets/icons/arrow-down-line.png"
            /></a>
        </section>
    </div>
</main>
