@import "../../styles.scss";

main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100svh;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/img/background-2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero {
    position: relative;
    width: 90%;
    height: 70%;
    max-width: $content-width;
    z-index: 3;
    white-space: nowrap;
}

.introduction {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    top: 0;
    right: 0;
    gap: 20px;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.green-button {
    display: flex;
    align-items: center;
}

.headerbox {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    height: 120px;
}

.rotate-header-item {
    display: inline-block;
    text-align: center;
    line-height: 40px;

    h2 {
        display: inline-block;
        transform: rotate(-90deg) translateY(50%);
        transform-origin: bottom;
        font-size: 35px;
        font-weight: 500;
    }
}

.header-item {
    display: inline-block;
    text-align: center;
    position: relative;

    h1 {
        font-weight: 600;
        font-size: 45px;
        line-height: 40px;
    }

    h3 {
        color: $purple;
        font-size: 42px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 40px;
    }
}

.scroll-down {
    rotate: 90deg;
    transform-origin: bottom right;
    position: absolute;
    right: 25px;
    bottom: 0px;
    transition: transform 0.125s ease-in-out;
    display: flex;
    justify-content: end;

    &:hover {
        transform: scale(1.15);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
        font-size: 20px;

        &:hover {
            color: $green;
        }
    }

    img {
        transform: rotate(-90deg);
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 30px;
    font-size: 20px;
    padding-left: 150px;

    img {
        transition: transform 0.125s ease-in-out;

        &:hover {
            transform: scale(1.35);
        }
    }
}

.vector-span {
    position: relative;
    width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector {
    position: absolute;
    right: 0px;
    width: 3480px;
    height: 4px;
    background-color: #9747ff;
}

.background-shade-span {
    position: absolute;
    width: 0px;
    height: 0px;
    right: -20%;
    bottom: -60%;
    z-index: -1;
    overflow: hidden;
}

.background-shade {
    content: url(../../assets/img/about-me-shadow.png);
    height: 200px;
    width: 400px;
}

@media (max-width: 1200px) {
    main {
        background-size: 120%;
    }

    .hero {
        h1,
        h2 {
            font-size: 35px;
        }

        h3 {
            font-size: 33px;
        }
    }
}

@media (max-width: 950px) {
    main {
        background-image: url("../../assets/img/background-center.png");
        background-size: 120%;
    }

    .hero {

        .scroll-down {
            display: none;
        }
        .introduction {
            align-items: center;
            position: absolute;
            bottom: -10%;
        }
        .headerbox {
            justify-content: center;
            align-items: center;

            .rotate-header-item {
                transform: translateY(-40%) translateX(10%);
            }
        }
    }
}

@media (max-width: 800px) {

    .email-link {
        display: none;
    }

    .social-links-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0%;
        transform: translateX(-50%);
    }

    .social-links {
        padding-left: 0px;
        position: static;
    }
}

@media (max-width: 650px) {
    main {
        background-size: 140%;
        background-position: 0% 10%;
    }
}

@media (max-width: 550px) {
    .hero {
        h1,
        h2 {
            font-size: 20px;
            line-height: 28px;
        }

        h3 {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

@media (max-width: 400px) {
    main {
        background-position: 20% 10%;
    }
}
