<main>
    <div class="hero">
        <section class="introduction">
            <div class="intro-wrapper">
                <div class="headerbox">
                    <div class="rotate-header-item">
                        <h2>{{ "hero.greeting" | translate }}</h2>
                    </div>
                    <div class="header-item">
                        <h1>Johannes Nordmann</h1>
                        <h3>{{ "hero.title" | translate }}</h3>
                    </div>
                </div>
                <div>
                    <div class="green-button">
                        <a href="#contact">{{ "hero.cta" | translate }}</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="social-links-container">
            <div class="social-links">
                <span class="vector-span"><span class="vector"></span></span>
                <a href="https://github.com/HPDOTTER" target="_blank"
                    ><img src="./assets/icons/github.png" alt="GitHub Profile"
                /></a>
                <a href="mailto:Johannes-nordmann@live.de"
                    ><img src="./assets/icons/email.png" alt="Email Contact"
                /></a>
                <a
                    href="https://www.linkedin.com/in/johannes-nordmann-7054b9127/"
                    target="_blank"
                    ><img
                        src="./assets/icons/linkedin.png"
                        alt="LinkedIn Profile"
                /></a>
                <a class="email-link" href="">Johannes-nordmann&#64;live.de</a>
            </div>
        </section>
        <section class="scroll-down">
            <a href="#about-me"
                >{{ "hero.scroll" | translate
                }}<img
                    src="./assets/icons/arrow-down-line.png"
                    alt="Scroll down arrow"
            /></a>
        </section>
        <span class="background-shade-span"
            ><span class="background-shade"></span
        ></span>
    </div>
</main>
