<main class="center" id="contact">
    <section class="header-section">
        <div class="vector-span"><span class="purple-vector"></span></div>
        <h1>{{ "contact.title" | translate }}</h1>
    </section>
    <section>
        <div class="contact-instruction">
            <h3>{{ "contact.problem" | translate }}</h3>
            <p>
                {{ "contact.description" | translate }}
            </p>
            <p>{{ "contact.need" | translate }}</p>
        </div>
        <div class="form-container">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <label for="name"></label>
                <div>
                    <input
                        [(ngModel)]="contactData.name"
                        [ngClass]="{
                            invalid: !name.valid && name.touched,
                            valid: name.valid && name.touched
                        }"
                        #name="ngModel"
                        type="text"
                        id="name"
                        name="name"
                        [placeholder]="'contact.name' | translate"
                        required
                    />
                    <span
                        class="icon"
                        *ngIf="name.invalid && name.touched"
                        style="
                            content: url(../../assets/icons/red-exclamation-mark.png);
                        "
                    ></span>
                    <span
                        class="icon"
                        *ngIf="name.valid && name.touched"
                        style="
                            content: url(../../assets/icons/green-checkmark.png);
                        "
                    ></span>
                </div>
                <div *ngIf="!name.valid && name.touched">
                    <p style="color: red; margin-bottom: 10px">
                        {{ "contact.error.name" | translate }}
                    </p>
                </div>
                <label for="email"></label>
                <div>
                    <input
                        [(ngModel)]="contactData.email"
                        [ngClass]="{'invalid': (!email.valid && email.touched) || (email.errors?.['pattern'] && email.touched), 'valid': email.valid && email.touched}"
                        #email="ngModel"
                        type="email"
                        id="email"
                        name="email"
                        [placeholder]="'contact.email' | translate"
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        required
                    />
                    <span
                        class="icon"
                        *ngIf="email.invalid && email.touched"
                        style="
                            content: url(../../assets/icons/red-exclamation-mark.png);
                        "
                    ></span>
                    <span
                        class="icon"
                        *ngIf="email.valid && email.touched"
                        style="
                            content: url(../../assets/icons/green-checkmark.png);
                        "
                    ></span>
                </div>
                <div *ngIf="!email.valid && email.touched">
                    <p
                        *ngIf="email.errors?.['required']"
                        style="color: red; margin-bottom: 10px"
                    >
                        {{ "contact.error.email" | translate }}
                    </p>
                    <p
                        *ngIf="email.errors?.['pattern']"
                        style="color: red; margin-bottom: 10px"
                    >
                        {{ "contact.error.emailPattern" | translate }}
                    </p>
                </div>
                <label for="message"></label>
                <div>
                    <textarea
                        [(ngModel)]="contactData.message"
                        [ngClass]="{
                            invalid: !message.valid && message.touched,
                            valid: message.valid && message.touched
                        }"
                        #message="ngModel"
                        id="message"
                        name="message"
                        minlength="3"
                        [placeholder]="'contact.message' | translate"
                        style="height: 200px"
                        required
                    ></textarea>
                    <span
                        class="icon"
                        *ngIf="message.invalid && message.touched"
                        style="
                            content: url(../../assets/icons/red-exclamation-mark.png);
                        "
                    ></span>
                    <span
                        class="icon"
                        *ngIf="message.valid && message.touched"
                        style="
                            content: url(../../assets/icons/green-checkmark.png);
                        "
                    ></span>
                </div>
                <div *ngIf="!message.valid && message.touched">
                    <p style="color: red; margin-bottom: 10px">
                        {{ "contact.error.message" | translate }}
                    </p>
                </div>
                <label class="checkbox-label" for="checkbox">
                    <input
                        #checkbox="ngModel"
                        [(ngModel)]="contactData.privacy"
                        type="checkbox"
                        id="privacy"
                        name="privacy"
                        required
                    />
                    <p>
                        {{ "contact.privacy1" | translate }}
                        <a class="link" routerLink="/privacy-policy">{{
                            "contact.privacyLink" | translate
                        }}</a>
                        {{ "contact.privacy2" | translate }}
                    </p>
                </label>

                <input
                    type="submit"
                    [value]="'contact.send' | translate"
                    [disabled]="
                        !checkbox.valid ||
                        !message.valid ||
                        !email.valid ||
                        !name.valid
                    "
                />
            </form>
        </div>
    </section>
    <section class="button-container">
        <a class="button" href="#top"
            ><img src="../../assets/icons/go-up-button.png"
        /></a>
    </section>
</main>
