<div>    
    <div class="header-content">
        <div class="logo">
            <a href="">
                <img src="../../../assets/img/logo.svg" alt="Logo">
            </a>
        </div>
        <div class="navigation">
            <div class="header-links">
                <a href="">About me</a>
                <a href="">Skills</a>
                <a href="">Portfolio</a>
            </div>
            <div class="language-switcher">
                <button>DE</button>
                <button>EN</button>
            </div>
        </div>
    </div>
</div>
