<main class="center">
    <section class="center">
        <div class="portfolio-header">
            <span class="vector-span"><span class="first-vector"></span></span>
            <h1>Portfolio</h1>
            <span class="vector-span"><span class="second-vector"></span></span>
        </div>
        <div class="portfolio-intro">
            <p>Here you can find some of my recent work and projects.</p>
        </div>
        
        <!-- Portfolio Items -->
        <div class="portfolio-items">
            <app-portfolio-item 
                *ngFor="let project of projects; let i = index"
                [title]="project.title"
                [description]="project.description"
                [image]="project.image"
                [technologies]="project.technologies"
                [githubLink]="project.githubLink"
                [liveLink]="project.liveLink"
                [isReversed]="i % 2 === 1"
                [index]="i">
            </app-portfolio-item>
        </div>
    </section>
</main>
