@import '../../styles.scss';

main {
    position: relative;
    padding-top: 100px;
}

section {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: $content-width;
    align-items: center;
}

.portfolio-header {
    display: flex;
    gap: 25px;
}
    
.first-vector {
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: $purple;
    transform: translateX(-100px);
}

.second-vector {
    position: absolute;
    width: 10000px;
    height: 4px;
    background-color: $purple;  
}

.vector-span {
    position: relative;
    width: 0px;
    display: flex;
    align-items: center;
}

.portfolio-intro {
    margin-bottom: 20px;
    text-align: center;
    
    p {
        font-size: 18px;
        color: rgba($white, 0.8);
        max-width: 600px;
        padding: 20px 0px;
    }
}

.portfolio-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0; // Abstand wird in der portfolio-item Komponente gehandhabt
}


.purple-shade {
    content: url(../../assets/img/purple-shadow-portfolio.png);
    position: absolute;
    width: 40%;
    height: auto;
    left: -20%;
    bottom: 20%;
    z-index: -1;
}

// Responsive Design
@media (max-width: 768px) {
    .portfolio-header {
        flex-direction: column;
        gap: 20px;
        
        h1 {
            font-size: 60px;
        }
    }
    
    .portfolio-intro {
        margin-bottom: 50px;
        
        p {
            font-size: 16px;
            padding: 0 20px;
        }
    }
}