@import '../../styles.scss';

main {
    margin-bottom: 150px;
    position: relative;
}



.skills-icons {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 30px;
    width: 50%;
    margin-right: 50px;
    align-content: flex-start;
    justify-content: flex-start;

    img {
        height: 100px;
        width: auto;
        padding: 0px 15px;
        box-sizing: border-box;
    }
}

.skills-text {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 50%;
    text-align: end;
}

.looking-for {
    display: flex;
    justify-content: end;
    text-align: end;
}

h2 {
    font-size: 30px;

    span {
        color: $purple;
    }
}

.title-span {
    display: flex;
    justify-content: end;
}

.vector-span {
    position: relative;
    width: 0px;
    display: flex;
}

.vector {
    position: absolute;
    width: 800px;
    top: 50%;
    bottom: 50%;
    left: 40px;
    height: 4px;
    background-color: $purple;
}

.shade-container {
    position: absolute;
    left: -50%;
    bottom: 50%;
}

.green-shade {
    content: url('../../assets/img/green-shadow-portfolio.png');
    position: absolute;
    width: 500px;
    height: auto;
    z-index: -10;
}