@import "../../styles.scss";

main {
    padding-top: 100px;
    padding-bottom: 150px;
    position: relative;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 30px;
    width: 50%;
    margin-right: 50px;
    align-content: flex-start;
    justify-content: flex-start;
    z-index: 2;

    img {
        height: 95px;
        width: 110px;
        padding: 0px 15px;
        box-sizing: border-box;
    }
}

.hover-skills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 110px;
    padding: 0px 15px;
    box-sizing: border-box;

    img {
        height: 95px;
        width: 110px;
    }
}

.hover-skills .hover-skills-span {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    max-width: 200px;
    white-space: normal;

    p {
        color: black;
        line-height: 1.3;
        word-wrap: break-word;
        white-space: normal;
        margin: 0;
        font-size: 14px;
    }

    .hover-skills-img {
        height: 60px;
        width: auto;
        margin: 5px;
    }
}

.hover-skills .hover-skills-span::after {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    border-radius: 6px;
    margin-left: -7px;
    border-width: 8px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.hover-skills:hover .hover-skills-span {
    visibility: visible;
    opacity: 1;

    span {
        display: flex;
        align-items: center;
    }
}

.skills-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 80px;
    width: 50%;
    height: inherit;
    text-align: end;
    align-items: flex-end;
}

.looking-for {
    display: flex;
    justify-content: end;
    text-align: end;
}

h2 {
    font-size: 30px;

    span {
        color: $purple;
    }
}

.title-span {
    display: flex;
    justify-content: end;
    white-space: nowrap;
}

.vector-span {
    position: relative;
    width: 0px;
    display: flex;
}

.vector {
    position: absolute;
    width: 2800px;
    top: 50%;
    bottom: 50%;
    left: 40px;
    height: 4px;
    background-color: $purple;
}

.background-shade {
    content: url(../../assets/img/green-shadow-portfolio.png);
    position: absolute;
    left: -30%;
    bottom: -50%;
    width: 45%;
    height: auto;
    z-index: -1;
}

.skills-icons-mobile {
    display: none;
}

@media (max-width: 1320px) {
    .skills-icons {
        gap: 20px;
    }
}

@media (max-width: 1200px) {
    .background-shade {
        bottom: -30%;
    }
}

@media (max-width: 900px) {
    main {
        section {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            gap: 80px;
        }

        .skills-text {
            width: 100%;
            align-items: end;
            text-align: end;
            gap: 24px;

            .button-span {
                margin-top: 40px;
            }
        }

        .skills-icons {
            display: none;
        }

        .background-shade {
            left: -20%;
            bottom: 0%;
            width: 60%;
        }

        .skills-icons-mobile {
            display: flex;
            justify-content: end;
            gap: 20px;
            flex-wrap: wrap;
            width: 100%;
            margin: 40px 0px;

            img {
                height: 100px;
                width: 85px;
            }
        }
    }
}
