<main class="center" id="skills">
    <section>
        <div class="skills-icons">
            <img src="./assets/icons/skills/html.png" alt="" />
            <img src="./assets/icons/skills/css.png" alt="" />
            <img src="./assets/icons/skills/javascipt.png" alt="" />
            <img src="./assets/icons/skills/typescript.png" alt="" />
            <img src="./assets/icons/skills/angular.png" alt="" />
            <img src="./assets/icons/skills/firebase.png" alt="" />
            <img src="./assets/icons/skills/git.png" alt="" />
            <img src="./assets/icons/skills/api.png" alt="" />
            <img src="./assets/icons/skills/scrum.png" alt="" />
            <img src="./assets/icons/skills/materialdesign.png" alt="" />
            <img src="./assets/icons/skills/learning.png" alt="" />
        </div>
        <div class="skills-text">
            <div class="title-span">
                <h1>{{ "skills.title" | translate }}</h1>
                <span class="vector-span"><span class="vector"></span></span>
            </div>
            <div>
                <p>{{ "skills.description" | translate }}</p>
            </div>
            <div class="skills-icons-mobile">
                <img src="./assets/icons/skills/html.png" alt="" />
                <img src="./assets/icons/skills/css.png" alt="" />
                <img src="./assets/icons/skills/javascipt.png" alt="" />
                <img src="./assets/icons/skills/typescript.png" alt="" />
                <img src="./assets/icons/skills/angular.png" alt="" />
                <img src="./assets/icons/skills/firebase.png" alt="" />
                <img src="./assets/icons/skills/git.png" alt="" />
                <img src="./assets/icons/skills/api.png" alt="" />
                <img src="./assets/icons/skills/scrum.png" alt="" />
                <img src="./assets/icons/skills/materialdesign.png" alt="" />
                <img src="./assets/icons/skills/learning.png" alt="" />
            </div>
            <div class="looking-for">
                <h2>
                    {{ "skills.looking" | translate }}
                    <span>{{ "skills.another" | translate }}</span>
                </h2>
            </div>
            <div>
                <p>{{ "skills.enthusiasm" | translate }}</p>
            </div>
            <span class="button-span">
                <div class="green-button">
                    <a href="">{{ "skills.getInTouch" | translate }}</a>
                </div>
            </span>
        </div>
        <span class="background-shade"></span>
    </section>
</main>
