<main class="center" id="skills">
    <section>
        <div class="skills-icons">
            <img src="../../assets/icons/skills/html.png" alt="" />
            <img src="../../assets/icons/skills/css.png" alt="" />
            <img src="../../assets/icons/skills/javascipt.png" alt="" />
            <img src="../../assets/icons/skills/typescript.png" alt="" />
            <img src="../../assets/icons/skills/angular.png" alt="" />
            <img src="../../assets/icons/skills/firebase.png" alt="" />
            <img src="../../assets/icons/skills/git.png" alt="" />
            <img src="../../assets/icons/skills/api.png" alt="" />
            <img src="../../assets/icons/skills/scrum.png" alt="" />
            <img src="../../assets/icons/skills/materialdesign.png" alt="" />
            <img src="../../assets/icons/skills/learning.png" alt="" />
            <div class="shade-container"><span class="green-shade"></span></div>
        </div>
        <div class="skills-text">
            <div class="title-span">
                <h1>My skills</h1>
                <span class="vector-span"><span class="vector"></span></span>
            </div>
            <div>
                <p>Show that you have used a variety of  front-end technologies in your projects</p>
            </div>
            <div class="looking-for">
                <h2>Looking for <span>another skill?</span></h2>
            </div>
            <div>
                <p>Reveal enthusiasm for learning new technologies and frameworks</p>
            </div>
            <div class="green-button">
                <a href="">Get in touch</a>
            </div>
        </div>
    </section>
</main>

