<main class="center" id="skills">
    <section>
        <div class="skills-icons">
            <img src="./assets/icons/skills/html.png" alt="" />
            <img src="./assets/icons/skills/css.png" alt="" />
            <img src="./assets/icons/skills/javascipt.png" alt="" />
            <img src="./assets/icons/skills/typescript.png" alt="" />
            <img src="./assets/icons/skills/angular.png" alt="" />
            <img src="./assets/icons/skills/firebase.png" alt="" />
            <img src="./assets/icons/skills/git.png" alt="" />
            <img src="./assets/icons/skills/api.png" alt="" />
            <img src="./assets/icons/skills/scrum.png" alt="" />
            <img src="./assets/icons/skills/materialdesign.png" alt="" />
            <div class="hover-skills">
                <img src="./assets/icons/skills/learning.png" alt="" />
                <span class="hover-skills-span">
                    <p>{{ "skills.learning" | translate }}</p>
                    <span>
                        <img
                            class="hover-skills-img"
                            src="./assets/icons/skills/react.png"
                            alt=""
                        />
                        <img
                            class="hover-skills-img"
                            src="./assets/icons/skills/vue.png"
                            alt=""
                        />
                    </span>
                </span>
            </div>
            <span class="background-shade"></span>
        </div>
        <div class="skills-text">
            <div class="title-span">
                <h1>{{ "skills.title" | translate }}</h1>
                <span class="vector-span"><span class="vector"></span></span>
            </div>
            <div class="skills-icons-mobile">
                <img src="./assets/icons/skills/html.png" alt="" />
                <img src="./assets/icons/skills/css.png" alt="" />
                <img src="./assets/icons/skills/javascipt.png" alt="" />
                <img src="./assets/icons/skills/typescript.png" alt="" />
                <img src="./assets/icons/skills/angular.png" alt="" />
                <img src="./assets/icons/skills/firebase.png" alt="" />
                <img src="./assets/icons/skills/git.png" alt="" />
                <img src="./assets/icons/skills/api.png" alt="" />
                <img src="./assets/icons/skills/scrum.png" alt="" />
                <img src="./assets/icons/skills/materialdesign.png" alt="" />
                <div class="hover-skills">
                    <img src="./assets/icons/skills/learning.png" alt="" />
                    <span class="hover-skills-span">
                        <p>{{ "skills.learning" | translate }}</p>
                        <span>
                            <img
                                class="hover-skills-img"
                                src="./assets/icons/skills/react.png"
                                alt=""
                            />
                            <img
                                class="hover-skills-img"
                                src="./assets/icons/skills/vue.png"
                                alt=""
                            />
                        </span>
                    </span>
                </div>
                <span class="background-shade"></span>
            </div>
            <div class="looking-for">
                <h2>
                    {{ "skills.looking" | translate }}
                    <span>{{ "skills.another" | translate }}</span>
                </h2>
            </div>
            <span class="button-span">
                <div class="green-button">
                    <a href="">{{ "skills.getInTouch" | translate }}</a>
                </div>
            </span>
        </div>
    </section>
</main>
