$background: #141D2F;
$purple: #9747FF;
$green: #70e61c;
$white: #FFFFFF;
$disabled: #B6B6B6;

$content-width: 1920px;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: $white;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: $background;
    overflow-x: hidden;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: $content-width;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-button {
    transition: transform 0.125s ease-in-out;
    width: fit-content;

    &:hover {
        transform: scale(1.15);
    }

    a {
        padding: 15px 30px;
        background-color: $green;
        border-radius: 10px;
        font-size: 20px;

        &:hover {
            background-color: $purple;
        }
    }
}

h1 {
    font-size: 90px;
    font-weight: 700;
}