// Custom Font Declarations
@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$background: #141d2f;
$purple: #9747ff;
$green: #70e61c;
$white: #ffffff;
$disabled: #b6b6b6;

$content-width: 1920px;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: $white;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

button,
a,
img {
    -webkit-tap-highlight-color: transparent;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
    outline: none;
}

button:focus-visible,
a:focus-visible {
    outline: 3px solid $purple;
    outline-offset: 3px;
}

main {
    overflow: hidden;
}

body {
    position: relative;
    background-color: $background;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: $content-width;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-button {
    transition: transform 0.125s ease-in-out;
    width: fit-content;

    &:hover {
        transform: scale(1.15);
    }

    a {
        padding: 10px 25px;
        background-color: $green;
        border-radius: 10px;
        font-size: 20px;
        white-space: nowrap;

        &:hover {
            background-color: $purple;
        }
    }
}

h1 {
    font-size: 90px;
    font-weight: 700;
}

@media (max-width: 1550px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 1200px) {
    .green-button {
        a {
            font-size: 18px;
            padding: 12px 24px;
        }
    }

    h1 {
        font-size: 60px;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 550px) {
    .green-button {
        a {
            font-size: 16px;
            padding: 10px 20px;
        }
    }
}
