<main class="center">
    <span class="footer-separator"></span>
    <section>
        <div class="footer-left">
            <a href="/" routerLink="/"
                ><img
                    src="./assets/img/logo-cut.png"
                    alt="Logo"
                    style="text-decoration: none"
            /></a>
            <a class="footer-link mobile-d-none" routerLink="/legal-notice">{{
                "footer.imprint" | translate
            }}</a>
        </div>
        <div class="footer-center">
            <p>© Johannes Nordmann 2025</p>
        </div>
        <div class="footer-right">
            <a href="https://github.com/HPDOTTER" target="_blank"><img src="./assets/icons/github.png" alt="" /></a>
            <a href="mailto:Johannes-nordmann@live.de"><img src="./assets/icons/email.png" alt="" /></a>
            <a href="https://www.linkedin.com/in/johannes-nordmann-7054b9127/" target="_blank"
                ><img src="./assets/icons/linkedin.png" alt=""
            /></a>
        </div>
        <div class="legal-notice-mobile">
            <a class="footer-link" routerLink="/legal-notice">{{
                "footer.imprint" | translate
            }}</a>
        </div>
    </section>
</main>
